.product-title-page-detials{
    font-size: 19px;
}

.info-product{
    font-size: 12px;
}

.info-property{
    width: 150px;
    background-color: #d3d3d9;
    font-size: 13px;
    padding-top: 10px;
    margin: 0 5px;
}